#bussiness-info {
	overflow: auto;
}
#bussiness-info li {
	font-size: 18px;
}
.info-list {
	width: 45%;
	margin-left: 5%;
	float: left;
}
.bussinsee-info {
	width: 95%;
	margin-left: 5%;
}
.bussinsee-info li {
	width: 80%;
}

.ct-chart {

}
.bussiness-state {
	overflow: hidden;
	height: 50px;
}
.state {
	margin-top: 10px;
	height: 100%;
	float: left;
}
.operate {
	margin-top: 15px;
	height: 100%;
	width: 100px;
	float: left;
	margin-left: 20px;
}

.button-set {
	padding: 10px;
}